.add-contact-submit-button {
  justify-content: center;
}

.add-contact-submit-button > button {
  width: 50%;
}

.add-more {
  cursor: pointer;
  color: blue;
  font-size: 13px;
}

.input-alert,
.delete {
  cursor: pointer;
  font-size: 13px;
  color: red;
}

.phone-number {
  margin-top: 5px;
}

.contact-image {
  width: 5em;
  height: 5em;
  padding: 0;
}

.confirm-button {
  margin-top: 5px;
  margin-right: 10px;
}
